<div class="form-container">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="step1Form">
      <ng-template matStepLabel>Fill account details</ng-template>
      <app-registration-step1 (next)="step1Form = $event; onNext(stepper)"></app-registration-step1>
    </mat-step>

    <mat-step [stepControl]="step2Form">
      <ng-template matStepLabel>Fill location</ng-template>
      <app-registration-step2
        [countries]="countries"
        (save)="step2Form = $event; onSave()">
      </app-registration-step2>
    </mat-step>
  </mat-stepper>
</div>
